* text=auto eol=lf

*.blade.php linguist-language=PHP
*.blade.php diff=html
*.css linguist-language=CSS
*.html linguist-language=HTML
*.md diff=markdown
*.php linguist-language=PHP
*.js linguist-language=JavaScript
*.hack linguist-language=Hack

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
