* text=auto eol=lf

*.blade.php linguist-language=PHP
*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php linguist-language=PHP
*.php diff=php
*.js linguist-language=JavaScript

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
